.contentWrapper {
  border: 2px dashed #646cff;
  border-radius: 8px;
  /* padding-block: 30px; */
  width: 50%;
  margin: 30px auto;
}

.title {
  text-align: center;
  font-size: 10rem;
  color: #646cff;
}
.text {
  text-align: center;
}
.link {
  margin-left: 10px;
}

.link a {
  color: #646cff;
}
.link:hover a {
  color: green;
}
